
.persona {
    width: 250px;
    height: 400px;
    overflow: hidden;
}

.persona2 {
    width: 250px;
    height: 400px;
    overflow: hidden;
}

svg {
    position:absolute; 
    background:yellow;
    height: 290px;
    width: 250px;
}

ellipse { fill:red; stroke:black; stroke-width:2px }

.foto {
    height: 300px;
    position:relative;
    background-color: white;
    vertical-align: bottom;
    display: table-cell;
}

.foto2 {
    height: 51px;
    -webkit-clip-path: ellipse(20px 29px);
    overfl11ow: hidden;
    background-color: white;
    vertical-align: bottom;
    display: table-cell;
}

.pie {
    text-align: center;
    background-color: #ffb400;
    max-height: 30%;
    overflow: hidden;
}

.foto img {
    width: 250px;
    margin: auto;
}
